@charset "utf-8";
/* CSS Doc.jumbotron {
    background-color: #f0f8ff; /* Cambia el color de fondo */
    color: #333; /* Cambia el color del texto (opcional) */
    background-image: url('tu-imagen.jpg'); /* Agrega una imagen de fondo (opcional) */
    background-size: cover; /* Ajusta la imagen al tamaño del jumbotron (opcional) */
}ument */

